$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

// Colors
$blue: rgb(54, 169, 225);
$green: rgb(0, 168, 112);
$yellow: rgb(255, 237, 0);
$orange: rgb(231, 64, 17);
$purple: rgb(184, 21, 112);
$white: #fff;
$black: #000;
$pale-grey: #f7f7f5;

$body-bg: $pale-grey;

$brand-primary: $blue;
$brand-success: $green;
$brand-info: $blue;
$brand-warning: $yellow;
$brand-danger: $orange;

$navbar-default-bg: $green;
$navbar-default-brand-color: $white;
$navbar-default-brand-hover-color: $white;
$navbar-border-radius: 0;
$navbar-default-link-color: $white;
$navbar-default-link-hover-color: $white;
$navbar-default-link-active-color: $white;
$navbar-default-link-hover-bg: darken($green, 3%);

$border-radius-base: 3px;
$border-radius-large: 0;
$border-radius-small: 0;

$container-sm: 100%;
$container-desktop: 100%;

@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

.delete {
  color: $brand-danger;

  &:hover {
    color: darken($brand-danger, 6.5%);
  }
}

.toolBar {
  margin: 20px 0;
}

.table thead tr th {
  background: $green;
  color: $white;
  border: 0;
}

.acceptance-colunms {
  text-align: center;
}

table {
  border-bottom: 1px solid $table-border-color;
}

.purchase-order h2 {
  margin: 10px 0;
}

th .btn-link, th .btn-link:hover, th .btn-link:focus {
  color: $white;
  text-decoration: underline;
}

td {
  vertical-align: top;
}

td.purchase_order_row_name {
  white-space: nowrap;
}
td.purchase_order_row_name > a.edit.btn.btn-link {
  padding: 0px 12px 6px 0px;
}

td.purchase_order_row_name > a.delete.btn.btn-link {
  padding: 0px 6px 6px 12px;
}

td.purchase_order_row_name > div.product-name {
  display: inline-block;
  vertical-align: inherit;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td.price {
  white-space: nowrap;
}

td.memo {
  text-align: center;
  color: $blue;
}

td.delivery {
  width: 136px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td.arrived {
  width: 136px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td.ordered {
  width: 136px;
  margin-left: 5px;
}

td.acceptance {
  text-align: center;
  margin-top: 5px;
  margin-right: 10px;

  div {
    padding: 0;
    margin: 0;
    display: inline;
    text-align: center;
  }

  input {
    margin: 5px 0 5px 25px !important;
    display: inline-block;
  }
}

@media (max-width: 1180px) {
  td.delivery {
    max-width: 130px;
  }
}

@media (max-width: 1000px) {
  td.purchase_order_row_name > div.product-name {
    max-width: 100px;
  }
}

.field p.form-control-static {
  display: none; // this is a dirty hack - we use FormControls.Static to hold several fields on one row
}

.all-orders-table {
  .order {
    width: 20%;
  }

  .title {
    width: 45%;
  }

  .amount {
    width: 10%;
  }

  .price {
    width: 10%;
  }

  .delivery {
    width: 15%;
  }

  .ordered {
    width: 15%;
  }

  .arrived {
    width: 20%;
  }
}

.reactable-page-button, .reactable-previous-page, .reactable-next-page {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px 0 0;
}

.reactable-current-page, a.reactable-current-page:hover, a.reactable-current-page:focus {
  background: $blue;
  color: $white;
  border-radius: $border-radius-base;
  text-decoration: none;
}

th.reactable-header-sortable:focus {
  outline: 0;
}

th.reactable-header-sort-asc::after {
  content: " ▲";
}

th.reactable-header-sort-desc::after {
  content: " ▼";
}

.form-horizontal .control-label.text-left {
  text-align: left;
}

.filter-well .form-group {
  margin: 0;
}

.large-space-left {
  margin-left: 30px;
}

.space-left {
  margin-left: 10px;
}

.accepted {
  color: $green;
}

.declined {
  color: $orange;
}

button.row-inline {
  outline: none;
  border: 0;
  background: transparent;
}

.reset {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 10px;
  text-align: center !important;
}

.ordered-status {
  margin-left: 10px;
}

.arrived-delivery-export {
  max-width: 300px;
}
